<script>

// no review in one row, remove star box
const rows_column_indicator = (target) => {
    const parentEl = document.querySelector(target);
    const articles = parentEl.querySelectorAll('article');

    let trackRow = articles[0].getBoundingClientRect().top;
    let rowNum = 1;
    articles.forEach((aEl, i)=>{
     
        if(i === 0) {
            articles[0].classList.add(`article-row-${rowNum}`);
            return false;
        }

        if(aEl.getBoundingClientRect().top !== trackRow){
            trackRow = articles[i].getBoundingClientRect().top;
            rowNum++;
        }

        const aElTop = aEl.getBoundingClientRect().top;
        if(aElTop === trackRow){
            aEl.classList.add(`article-row-${rowNum}`);
        } 
        
    })

    for(let i=1; i<10; i++){
        const rows = document.querySelectorAll(`.article-row-${i}`);
        const ratingBox = document.querySelectorAll(`.article-row-${i} [data-rating-numb="0"]`);

        if(!rows.length) return false;

        if(rows.length === ratingBox.length) {
            rows.forEach((rEl)=>{
                rEl.classList.add('hide-rating-box');
            })
        }

    }
     
    
}
rows_column_indicator('.featuredVas_2');
</script>
