<script>

// no review in one row, remove star box
const rows_column_indicator = (target) => {
    const parentEl = document.querySelector('#features-row');
		if(!parentEl) return false;
    const articles = parentEl.querySelectorAll('.features-colm');

    let trackRow = articles[0].getBoundingClientRect().top;
    let rowNum = 1;
    articles.forEach((aEl, i)=>{
     
        if(i === 0) {
            articles[0].setAttribute(`featurescolm-row`,`${rowNum}`);
            return false;
        }

        if(aEl.getBoundingClientRect().top !== trackRow){
            trackRow = articles[i].getBoundingClientRect().top;
            rowNum++;
        }

        const aElTop = aEl.getBoundingClientRect().top;
        if(aElTop === trackRow){
            aEl.setAttribute(`featurescolm-row`,`${rowNum}`);
        } 
        
    })

		for(let i=1; i<=rowNum; i++){
				const columnTitles = document.querySelectorAll(`[featurescolm-row="${i}"] h5`);	

				columnTitles.forEach((el)=>{
					el.style.height = 'auto';
				})
		
				
				let titleMaxHeight = 0;		
				columnTitles.forEach((el)=>{
					if(el.offsetHeight > titleMaxHeight) titleMaxHeight = el.offsetHeight;					
				})
				columnTitles.forEach((el)=>{
					el.style.height = titleMaxHeight+'px';
				})
		}
     
    
}
rows_column_indicator('.featuredVas_2');
</script>
